.container{
    background-color: rgb(163, 165, 42);
    display: flex;
    justify-content: space-evenly;
    color: rgb(4, 4, 216);
}

h1{
    text-align: center;
    
}
p{
    font-size: 1.25em;
    font-weight: bold;
    color: black;

}

button{
    border-radius: 10px solid black;
}