 
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
     padding-top: 100px;   
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #42c5f8;
    font-size: 2rem;
    font-weight: 600;
    color: black;
    min-height: 100vh;
    overflow-x: hidden;
   }
  