.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    align-items: center;
    gap: 50px;
    background-color:  #42c5f8;
    font-size: 2rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    
    padding-top: 100px;
    padding-bottom: 10px;
    overflow: hidden;
   
   }

   .error{
    font-size: 75px;
font-style: italic;
text-align: center;
   }