 body{
  margin:0;
 }

button {
  border-radius: 5px;
  border: 2px solid #a642f8;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #a642f8 ;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: rgba(255, 255, 255, 0.555);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

